h2 {
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    margin: 20px 0;
}

.filter-bloc {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
}

.filter-bloc h2 {
    flex-basis: 100%;
}

fieldset {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    border: 2px solid var(--color-primary); /* Couleur et style de la bordure */
    padding: 2rem;         /* Espacement interne */
    border-radius: 10px;    /* Coins arrondis */
    position: relative;    /* Nécessaire pour positionner le titre */
    width: 30%;
}

fieldset:nth-of-type(1) {
    width: 52%;
}

fieldset .search-date {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

fieldset legend {
    font-weight: bold;      /* Titre en gras */
    color: var(--color-primary);            /* Couleur du texte */
    padding: 0 0.5rem;      /* Espacement horizontal autour du titre */
    background: var(--color-secondary);      /* Fond blanc pour cacher la bordure */
    position: absolute;     /* Position au-dessus de la bordure */
    top: -0.7rem;           /* Ajuster la hauteur du titre */
    left: 1rem;             /* Espacement horizontal */
}