h2 {
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    margin: 20px 0;
}

.filter-bloc {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
}

.filter-bloc h2 {
    flex-basis: 100%;
}