.recent-filter select {
    font-size: 12px;
    padding: 5px 10px;
    border: 2px solid #001367;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
    width: 220px;
    background-color: #fff;
    color: #333;
}

@media (max-width: 768px) {

    .recent-filter select {
        width: 150px;
    }
}