.table-container {
    overflow-y: auto; 
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre avec un léger décalage, flou et transparence */    
}

table {
    width: 100%;
    border-collapse: collapse;
}

table thead {
    position: sticky;
    top: 0; /* Fixe la position en haut */
    z-index: 1; /* Assure que l'en-tête reste au-dessus du corps */
    background-color: var(--color-secondary);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre avec un léger décalage, flou et transparence */
}

th, td {
    padding: 10px 0;
    text-align: center;
}

th {
    font-size: 24px;
    font-weight: var(--font-weight-title);
}

td {
    width: 50px;
}

.date {
    font-weight: bold;
    width: 300px;
}

.star {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    background: #eebb05;
    clip-path: polygon(
        50% 0%, 61% 35%, 98% 35%, 
        68% 57%, 79% 91%, 50% 70%, 
        21% 91%, 32% 57%, 2% 35%, 
        39% 35%
    ); /* Forme étoile */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.ball {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border-radius: 50%;
    background: #001367;
    color: white;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.pagination-controls {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.paginate-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    padding: 5px;
    border-radius: 50%;
    color: #001367;
    background-color: white;
    border: 2px solid #001367;
    cursor: pointer;
    font-weight: bold;
}

.paginate-btn:hover {
    color: white;
    background-color: #001367;
}

button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.error {
    font-size: 24px;
    font-weight: var(--font-weight-title);
}

.scrollable-table {
    max-height: 300px; /* Hauteur maximale avant que le défilement s'active */
    overflow-y: auto; /* Active le défilement vertical */
}

::-webkit-scrollbar-track {
    margin-top: 50px;
}