.table-container {
    overflow-y: auto;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    /* Ombre avec un léger décalage, flou et transparence */
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table thead {
    position: sticky;
    top: 0;
    /* Fixe la position en haut */
    z-index: 1;
    /* Assure que l'en-tête reste au-dessus du corps */
    background-color: var(--color-secondary);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Ombre avec un léger décalage, flou et transparence */
}

th,
td {
    padding: 10px 0;
    text-align: center;
    align-content: center;
}

th {
    font-size: 24px;
    font-weight: var(--font-weight-title);
}

td {
    width: 50px;
}

.date {
    font-weight: bold;
    width: 300px;
    padding: 0 5px;
}

.euromillions-bonus {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    background: #eebb05;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%,
            68% 57%, 79% 91%, 50% 70%,
            21% 91%, 32% 57%, 2% 35%,
            39% 35%);
    /* Forme étoile */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.ball {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border-radius: 50%;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.euromillions {
    background: #001367;
    color: white;
}

.loto {
    background: #00a2d9;
    color: white;
}

.loto-bonus {
    background: #ea3946;
    color: white;
}

.pagination-controls {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.pagination-controls:nth-of-type(1) {
    margin-top: 30px;
}

.paginate-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    padding: 5px;
    border-radius: 50%;
    color: #001367;
    background-color: white;
    border: 2px solid #001367;
    cursor: pointer;
    font-weight: bold;
}

.paginate-btn:hover {
    color: white;
    background-color: #001367;
}

button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.error {
    margin: 20px 0;
    font-size: 24px;
    font-weight: var(--font-weight-title);
}

/* TABLE PREDICT */

.scrollable-table {
    margin: 0 auto;
    font-size: 12px;
    border-radius: 10px;
    width: 100%;
}

.scrollable-table .row-title {
    font-size: 16px;
    height: 60px;
    font-weight: 600;
    padding-right: 10px;
    background-color: var(--color-secondary);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Ombre avec un léger décalage, flou et transparence */
    border-radius: 10px 10px 0 0;
}

.scrollable-table .filter-header {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2px;
    gap: 2px;
}

.scrollable-table .filter-header i {
    font-size: 12px;
}

.scrollable-table .filter-header:hover {
    cursor: pointer;
}

.scrollable-table .data {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 5px 2px;
}

.scrollable-table .row,
.scrollable-table .row-title {
    display: flex;
    width: 100%;
}

.scrollable-table .row>* {
    flex: 1;
    text-align: center;
    min-width: 14%;
}

.scrollable-table .table-body {
    max-height: 250px;
    overflow-y: auto;
    /* Active le défilement vertical */
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    /* Ombre avec un léger décalage, flou et transparence */
    border-radius: 10px;
}

.scrollable-table .ball,
.scrollable-table .euromillions-bonus,
.scrollable-table .loto-bonus {
    width: 25px;
    height: 25px;
    font-size: 10px
}
@media (max-width: 900px) {
    .table-container .ball,
    .table-container .euromillions-bonus {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 768px) {
    th {
        font-size: var(--font-size-h3-sm)
    }

    .ball {
        width: 40px;
        height: 40px;
    }

    .euromillions-bonus {
        width: 40px;
        height: 40px;
    }

    .scrollable-table .row-title {
        font-size: 12px;
        height: 50px;
    }

    .scrollable-table .data {
        font-size: 10px;
    }

    .paginate-btn {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 600px) {
    .scrollable-table .row-title {
        font-size: 10px;
    }

    .table-container .ball,
    .table-container .euromillions-bonus {
        width: 30px;
        height: 30px;
        font-size: 12px;
    }

    .table-container .date {
        font-size: 12px;
    }
}

@media (max-width: 470px) {

    th {
        font-size: var(--font-size-body-lg)
    }

    .scrollable-table .row-title {
        font-size: 9px;
    }

    .scrollable-table .data {
        font-size: 8px;
    }

    .table-container .ball,
    .table-container .euromillions-bonus {
        width: 25px;
        height: 25px;
        font-size: 10px;
    }

    .table-container .date {
        font-size: 10px;
        padding: 0 5px;
    }
}